@font-face {
  font-family:'SkyFont';
  src:url('../fonts/crick.eot');
  src:url('../fonts/crick.eot?#iefix') format('embedded-opentype'),
  url('../fonts/crick.woff') format('woff'),
  url('../fonts/crick.ttf') format('truetype'),
  url('../fonts/crick.svg#SkyFont') format('svg')
}

@color-black: #000000;
@color-button: #8DBE24;
@color-gray: #F8F8F8;
@color-hover: #FF9900;
@color-border: #dddddd;
@color-a: #a0a0a0;
@max-width: 1140px;

#body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .content-site {
    flex: 1;
  }

  .sky{
    font-family: 'SkyFont';
  }
}

.logo{
  line-height: 0;
  font-size: 25px;
  p{
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  .logo-first{
    &:first-letter{
      color: #FE980F;
    }
  }

  .logo-second{
    padding-left: 10px !important;
    &:first-letter{
      color: #FE980F;
    }
  }
}

.width1140{
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.no-background{
  background: none;
}

.d-none{
  display: none!important;
}

.no-border{
  border: 0;
}
.padding-top-20{
  padding-top: 20px!important;
}
.buy-it{
  background-color: #D9F4FF;
  height: 80px;
  padding: 20px;
  span{
    color: #EEA12D;
    font-weight:bold;
  }
  h3{
    font-family: 'Georgia,serif';
    font-size: 30px;
  }
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}

.menu-header{
  height: 30px;
  border-bottom: 1px solid @color-border;
  border-top: 1px solid @color-border;
  background-color: @color-gray;
  nav{
    height: 100%;
    ul li a{
      &:hover, &:active, &:focus{
        color: @color-hover;
      }
      background: none!important;
      border: 0!important;
      line-height: 30px;
    }
    ul li{
      border: none!important;
      background: none!important;
    }
    * {
      height: 100%!important;
    }

  }
}

.uk-navbar-nav{
  margin-bottom: 0;
  li{
    float: left;
    list-style: none;
    font-size: 12px;
    a{
      color: #999;
      text-decoration: none;
      span{
        margin-right: 5px;
        line-height: 30px;
      }
    }
  }
}

.second-header-menu{
  padding: 20px 0;
  border-bottom: 1px solid #DDDDDD;
  form{
    position: relative;
    input{
      width: 100%;
      height: 40px!important;
    }
    button{
      &:hover{
        background-color: @color-hover;
        color: #FFFFFF;
      }
      font-size: 20px;
      position: absolute;
      height: 40px;
      width: 70px;
      top: 0;
      right: 0;
      background: none;
    }
  }
  #cart-header{
    color: @color-black!important;
    text-decoration: none!important;
    &:hover *:not(.header-cart-count), &:active *:not(.header-cart-count){
      color: @color-hover;
      cursor: pointer;
    }
  }
  .icon-cart{
    color: #747474;
    font-size: 40px;
    cursor: pointer;
  }
  .header-cart-count{
    background-color: @color-hover;
    padding: 3px 8px;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
  }
  /*.uk-navbar-brand{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }*/
}

#slide-home{
  padding-top: 20px;
  .slide-home-main{

    padding-left: 0;
    max-height: 401px;
    overflow: hidden;
    & > img {
      width: 100%;
    }
    .img-product{
      width: 100%;
      height: 265px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .uk-thumbnail-caption{
      padding-top: 30px;
    }
    .uk-thumbnail-medium{
      min-height: 350px;
    }
    .caption-price{
      color: @color-hover;
      font-size: 20px;
      padding-top: 5px;
    }
    .caption-button{
      float: right;
      margin-right: 15px;
      background-color: @color-button;
      color: #FFFFFF;
      text-shadow: none;
      width: 100%;
      display: block;
    }
  }
}

.categories-sidebar{
  padding-left: 0px!important;
  padding-top: 0px;
  max-height: 400px;
  ul{
    padding-left: 0px!important;
    padding-top: 0px;
    border: 1px solid @color-border;
  }
  li{
    a{
      &:hover, &:active, &:focus{
        color: #000000;
      }
      padding: 10px;
      color: #000000;
    }
  }
}

.prod_head{
  border-bottom: 2px solid #4B5660;
  .cat_title{
    margin:10px 0 0;
    display:inline-block;
    padding-right:15px;
    span{
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

#features{
  padding-top: 40px;
  .items{
    padding: 35px 35px 35px 20px;
    p{
      &.title-feature{
        text-align: center!important;
        color: @color-button;
        font-weight: bold;
        font-size: 16px;
      }
      text-align: justify!important;
    }
  }
  & > div:first-child{
    //padding: 20px;
  }
  .width1140{
    //background-color: @color-gray;
  }
  [class*='ion']{
    font-size: 35px;
    padding: 0px;
    color: @color-hover;
  }
}

.list-product{
  .product{
    padding-bottom: 20px;
    .img-product{
      width: 100%;
      height: 265px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .uk-thumbnail{
      padding: 0;
      transition: all .28s;
      width: 100%;
      &:hover{
        box-shadow: 0 0 10px 2px rgba(153,153,153,0.35);
      }
    }
    .uk-thumbnail-caption{
      padding: 10px;
      .title{
        height: 60px;
        overflow: hidden;
        font-size: 13px;
      }
      .price{
        font-size: 16px;
        .price-value{
          font-weight: 600;
          padding-left: 5px;
          font-size: 18px;
          color: @color-hover;
        }
        .price-text{
          font-weight: 600;
        }
      }
      .more {
        padding: 0px 20px;
        button{
          background-color: @color-button;
          color: #FFFFFF;
          text-shadow: none;
          width: 100%;
          display: block;
        }
      }
    }
  }
}

.post-title{
  font-size: 19px;
  text-align: center;
  padding-top: 20px;
}

.post-content{
  text-align: justify;
}

footer{
  .payment{
    background-color: @color-gray;
    padding: 20px 10px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .footer-menu{
    background-color: #4A4A4A;
    max-height: 320px;
    padding: 20px;
    ul{
      li:first-child{
        color: #FFFFFF;
      }
      li{
        padding: 3px 0;
        a{
          &:hover, &:active, &:focus{
            color: #FFFFFF!important;
          }
          color: #a0a0a0!important;
        }
      }
    }
  }
  .copyright{
    background-color: #292929;
    padding: 20px 10px;
  }
  #subscribe{
    position: relative;
    *{
      color: #FFFFFF;
      height: 40px;
      text-shadow: none;
    }
    input[type="text"]{
      width: 100%;
      background-color: #646464;
    }
    button{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #7D7D7D;
      border: 1px solid #ddd;
    }
  }
}

#product{
  padding: 10px 0 20px 0;

  .uk-comment-body{
    padding: 15px;
    border: 1px solid #DDDDDD;
    border-top: 0;
    .uk-thumbnail{
      text-align: center;
      display: inline-block;
      width: 100px;
      height: 100px;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  & > div.uk-grid{
    padding: 0 15px;
  }
  .uk-breadcrumb{
    padding-bottom: 10px;
    a{
      color: @color-black;
    }
  }
  .gallery{
    padding-left: 0;
    .fotorama{
      border: 1px solid #DDDDDD;
      padding: 10px;
    }
    .fotorama__thumb{
      border: 1px solid #DDDDDD;
    }
    .fotorama__thumb-border{
      border-color: @color-button;
    }
  }
  .stars{
    .uk-icon-star, .uk-icon-star-o{
      color: @color-hover;
    }
    .orders{
      color: @color-button;
      text-decoration: underline;
    }
  }
  .main-info{
    p{
      &>span:first-child{
        font-weight: bold;
        display: inline-block;
        width: 75px;
        font-size: 14px;
      }
    }
    .price{
      font-size: 20px;
      span:first-child{
        font-size: 20px!important;
      }
      span:last-child{
        color: @color-hover;
        font-weight: 700;
        //font-size: 18px;
      }
    }
    .original-price strike, .save span:last-child {
      font-size: 15px;
    }
    .save span:last-child{
      color: @color-hover;
    }
    .options{
      p{
        font-weight: bold;
      }
      div[data-uk-button-radio] input{
        display: none;
      }
      label.uk-active{
        border-color: @color-hover;
        outline: 1px solid @color-hover;
      }
      label.uk-button{
        margin-right: 5px;
        margin-bottom: 5px;
        &.img{
          width: 50px;
          height: 50px;
          background-size: contain!important;
          background-repeat: no-repeat!important;
          background-position: center!important;
          padding: 0;
        }
      }
      .uk-alert-warning{
        padding: 3px 10px;
        font-size: 13px;
        margin-top: 5px;
        span{
          text-transform: lowercase;
          font-weight: 600;
        }
      }
    }
    .number{
      &>span:first-child{
        font-weight: bold;
        width: 85px;
        display: inline-block;
      }
      .pieces{
        padding-left: 10px;
      }
      *{
        -webkit-user-select: none;
        -moz-user-select: none;
      }
      input{
        width: 40px;
        text-align: center;
      }
    }
    .total-price{
      &>span:first-child{
        width: 85px;
        font-weight: bold;
        display: inline-block;
      }
      .total-price-value{
        .uk-text-muted{
          font-size: 14px!important;
          font-weight: normal!important;
        }
        font-size: 20px;
        font-weight: bold;
      }
    }
    .add-to-cart{
      background-color: @color-hover;
      color: #FFFFFF;
      font-size: 24px;
      border: 0;
      cursor: pointer;
      width: 100%;
      max-width: 245px;
      height: 55px;
      &:hover, &:focus, &:active{
        background-color: lighten(@color-hover, 10%);
      }
    }
    .shipping{
      strong{
        display: inline-block;
        width: 110px;
      }
    }
    .buyer-protection{
      padding-top: 0;
      p:first-of-type{
        color: #007BAD;
        font-size: 20px;
        font-weight: bold;
      }
      p{
        margin-bottom: 0;
        margin-top: 3px;
      }
      .icon-buyer{
        display: inline-block;
        width: 50px;
        height: 55px;
        background: url(../images/bp-icon.png) no-repeat;
        float: left;
        margin-right: 15px;
        margin-bottom: 30px;
      }
    }

  }
  .description{
    padding-left: 0!important;
    padding-top: 50px;
    .uk-tab{
      a{
        color: @color-black!important;
        height: 25px;
        padding-top: 15px;
        font-size: 16px;
      }
    }
    #description{
     & > li{
        padding: 20px;
        border: 1px solid @color-border;
        border-top: 0;
      }
    }
  }
  .related{
    .prod_head{
      padding-top: 20px;
    }
  }

}

.cart-notify{
  margin-bottom: 0;
  a{
    color: @color-black!important;
  }
}

#cart{
  /*[class*='uk-width-']{
    padding-left: 15px!important;
  }*/
  padding-bottom: 20px;
  .cart-head{
    font-size: 25px;
    background: @color-gray;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid @color-border;
  }
  .items{
    //padding-top: 15px;
    table{
      margin-bottom: 15px;
    }
    .product-cart{
      .product-info-cart{
        //max-width: 300px;
        .uk-text-muted img{
          width: 36px;
          border: 1px solid @color-border;
        }
      }
      .img{
        padding: 5px!important;
        margin: 0!important;
        width: 104px;
        height: 104px;
        text-align: center;
        img{
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
    .delete-product-cart{
      font-size: 17px;
      cursor: pointer;
    }
    td{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

#category{
  padding: 15px 0;
}

.head-tab-text{
  margin: -21px -20px 0 -20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  background: #FEFBE9;
}

#page{
  padding: 20px;
}

.blog-social{

  .s-box {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  iframe.twitter-timeline{
    border: 1px solid #DDDDDD !important;
  }
}

.short-stars{
  font-size: 13px;
  color: #F8981F;
}






