@import (less) "../components/uikit.less";
@import (less) "../components/accordion.min.css";

.register{
  padding: 20px!important;
  margin-top: 50px;
  border: 1px solid #dddddd;
}

.left-menu{
  background: #F5F5F5;
  .uk-panel-box{
    border-top: 0!important;
  }
}

input, label{
  cursor: pointer;
}

#content{
  padding: 20px;
}

label.img{
  min-height: 220px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  &.uk-active{
    i{
      display: block;
    }
  }
  i{
    display: none;
    position: absolute;
    top: 3px;
    left: 7px;
    font-size: 30px;
    color: #85BE48;
  }
}
#new-post{
  #thumbnail{
    height: 220px;
    width: 220px;
  }
 }

.panel-options{
 .variations-table{
   .uk-icon-circle{
     font-size: 7px;
     vertical-align: middle;
   }

   td{
     vertical-align: middle!important;
   }
 }
 .options-table{
   td{
     border-bottom: 0;
   }
   .one-option{
     td:nth-child(2){
       width: 500px;
     }
   }

 }
}

.def-img{
  background: url("../img/def.jpg") no-repeat;
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
}

.var-img{
  float: right;
}

.more-images{
  display: inline-block;
  font-size: 45px;
  cursor: pointer;
}
.img-comment{
  &.uk-thumbnail{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
  }
}
